@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #171321;
  --green: #219921;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
}

@font-face {
  font-family: 'Source Code Pro', monospace;
  src: url('/SourceCodePro-VariableFont_wght.ttf');
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Ensure the body stretches to fill the viewport */
html,
body,
#__next {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%; /* Make #app take up the full viewport height */
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  width: 100%;
  font-family: 'Source Code Pro', monospace;
  overflow: hidden;
  color: #34b11b;
}

.box-container {
  display: grid;
  flex-direction: column;
  justify-content: flex-start;
  width: 30vw; /* Set width to 30% of the viewport width */
  height: auto; /* Set height to auto to adjust to content */
  padding: 0.5rem;
  border-radius: 5px;
  margin: 1rem; /* Add margin to create space around the box */
  position: absolute; /* Position the box absolutely */
  top: 1rem; /* Set the top position to 1rem */
  left: 1rem; /* Set the left position to 1rem */
}

.title-div {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  display: block;
  justify-content: center;
  align-items: center;
}
.title-name {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  display: block;
  justify-content: center;
  align-items: center;
  font-family: 'Source Code Pro', monospace;
  color: #34b11b;
}

.description {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
}

.profile-photo {
  display: flex;
  justify-content: center;
  margin: 1%;
  border-radius: 10px;
}

.linkedin-box,
.github-box,
.portfolio-box {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  padding: 1em;
  justify-content: center;
  align-items: center;
  font-family: 'Source Code Pro', monospace;
}

.linkedin-box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #0072b1;
}

.linkedin-box:hover {
  opacity: 0.6;
}

.github-box {
  background-image: url('https://github.githubassets.com/images/modules/dashboard/universe23/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.github-box:hover {
  opacity: 0.6;
}

.portfolio-box:hover {
  opacity: 0.6;
}

.portfolio-box {
  background-color: var(--green);
  overflow: hidden; /* add this line */
}
