:root {
  --black: #171321;
  --green: #219921;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
}

@font-face {
  font-family: 'Source Code Pro', monospace;
  src: url('/SourceCodePro-VariableFont_wght.ttf');
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-image: url('../../public/background.png');
  background-size: 100%; /* Updated value */
  background-position: center;
  background-repeat: no-repeat;
  color: var(--white);
  font-size: var(--font-size);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2%;
  margin-right: 5%;
  width: 100%;
  font-family: 'Source Code Pro', monospace;
  overflow: hidden;
  color: #34b11b;
}

.box-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 2vw;
  border-radius: 5px;

  top: 1rem;
  left: 1rem;
  gap: 0.2em; /* Add this line to set the gap between the icons */
}

.navbar-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: auto;
  color: var(--white);
  border-radius: 5px;
  margin: 0.2em;
  top: 1rem;
  left: 1rem;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.5rem;
}

.header {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1em;
  margin-bottom: 3rem;
  width: 100%;
  position: fixed;
  top: 0; /* Add this line to position the header at the top of the screen */
}

.title-div {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Add this line to center the contents vertically */
  align-items: center; /* Add this line to center the contents horizontally */
  margin-top: 4em;
  margin-bottom: 1rem;
  width: 100%;
  margin-left: 0; /* Add this line to make the div start from the left */
}

.title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1%;
  display: block;
  justify-content: center;
  align-items: center;
}
.my-name-is {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 2%;
  display: block;
  justify-content: center;
  align-items: center;
  font-family: 'Source Code Pro', monospace;
  color: #34b11b;
}

.description {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 23vw;
  text-align: center;
  overflow: hidden;
}

.languages {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Source Code Pro', monospace;
  color: #34b11b;
  word-wrap: break-word; /* Add this line to prevent the text from overflowing */
}

.profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
  border-radius: 10px;
  width: 1%;
}

.photo-div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.linkedin-box,
.github-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 8%;
}

.linkedin-box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #0072b1;
}

.linkedin-box:hover {
  opacity: 0.6;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  border-radius: 10px;
  width: 20%;
  height: 20%;
}

.github-box {
  background-image: url('https://github.githubassets.com/images/modules/dashboard/universe23/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.github-box:hover {
  opacity: 0.6;
}

.portfolio-box:hover {
  opacity: 0.6;
}
